div.container {
    border: dotted 0.5em red;
}

@media print {
    @page {
        size: auto;   /* auto is the initial value */
        margin: 0;  /* this affects the margin in the printer settings */
    }
}