{% block css %}
  <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet">
{% endblock %}

{% block footer %}

<div class="footer bg-dark text-light">
    <div class="pb-1"><b>Novat GmbH</b></div>
    <div>Am Gründerzentrum 1, 92655 Grafenwöhr | Registergericht Weiden i.d.Opf. | HBR <b>5638</b></div>
    <div>Geschäftsführung: Philipp Hermannsdörfer, MSc. | Ust-IdNr.: DE 330952370</div>
</div>

{% endblock %}