{% block receits %}
    <div>
        <h5>Purchase Overview</h5>
    </div>
    {% for item in Receits %}
    <div class="page-break-auto receit-container">
        <div class="receit">
            <div class="receit-info d-flex flex-row">
                <div class="receit-logo text-center d-flex justify-content-center mr-2">
                    <div>
                        <div class="logo-vendor m-auto">
                            <img src="static/images/logo_placeholder.jpg" />
                        </div>
                        {{item.vendor.name}}
                    </div>
                </div>
                <div class="d-flex flex-grow-1">
                    <div>
                        <div>{{item.vendor.ocr_MerchantStreet}}</div>
                        <div>{{item.vendor.ocr_MerchantPostcode}}&nbsp;{{item.vendor.ocr_MerchantCity}}</div>
                        <div>VAT-ID:&nbsp;{{item.vendor.ocr_VatNumber}}</div>
                        <div>Steuer Nr.:&nbsp;{{item.vendor.ocr_TaxNumber}}</div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="text-nowrap text-right">{{item.ocr_Date}}</div>
                        <div class="mt-auto">
                            <div>Supplier&nbsp;Invoice:&nbsp;{{item.invoiceNr}}</div>
                            <div>Remonon&nbsp;ID:&nbsp;{{item.romononID}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="receit-table"> 
                <table class="table">
                    <thead>
                        <tr>
                            <th>Qty</th>
                            <th>Description</th>
                            <th>You Paid</th>
                            <th>Remonon Price</th>
                            <th>Your Refund</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line_item in item.line_items %}
                            <tr>
                                <td>{{line_item.ocr_Quantity}}</td>
                                <td>{{line_item.ocr_ProductName}}</td>
                                <td>{{line_item.ocr_GrossLineTotal}}&nbsp;EUR</td>
                                <td>{{line_item.remonon_GrossLineTotal}}&nbsp;EUR</td>
                                <td>{{line_item.refund}}&nbsp;EUR</td>
                            </tr>
                        {% endfor %}
                    </tbdoy>
                    <tfoot>
                        <tr>
                            <td><b>Total:</b></td>
                            <td></td>
                            <td>{{item.TotalAmount}}&nbsp;EUR</td>
                            <td>{{item.TotalRemonon}}&nbsp;EUR</td>
                            <td>{{item.TotalRefund}}&nbsp;EUR</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
{% include "receit_listing_style.html" %}
{% endblock %}