{% block css %}
    <style>
        .logo-vendor {
            width: 64px;
            height: 64px;
        }

        .logo-vendor img {
            width: 100%;
            height: auto;
        }

        div.page-break-auto {
            page-break-before: auto;
            page-break-inside: avoid;
        }

        div.receit-info > div:not(:first-child){
            font-size: 12px;
        }

        div.receit-logo {
            width: 128px;
            margin-right: 0.75rem;
        }
    </style>
{% endblock %}