<style>
    @media print {
        small {
            font-size: 10px;
        }
        
        h1 {
            font-size: x-large;
        }

        h2 {
            font-size: larger;
        }

        h5 {
            font-size: medium;
        }

        p {
            font-size: 12px;
            margin-bottom: 0;
        }

        #disclaimer {
            font-size: 8px;
            font-style:italic;
        }
    }

    .logo {
        width: 5rem;
        height: 5rem;
    }

    .logo img {
        width: 100%;
        height: auto;
    }

    #summery_receit_indicator {
        font-size: 9px;
        color: lightgray;
        float: right;
    }

    #receipient,
    #proc_agency,
    #invoice,
    #nf_form {
        font-size: 10px;
    }

    #service-message {
        margin-top: 75px;
        font-size: 10px;
    }

    #service-message a {
        color: #055160;
        font-weight: bold;
    }

    .letter-top {
        page-break-before: always;
    }
</style>